<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style media="screen">
.th{
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #777799;
  color: #FFFFFF;
  margin: 'auto';
}
img{
    height:100px;
  width:100px;    }
  th{
    text-align: center;
  }
  #ADD{
    float: right;
  }
  form{
    float:left;
  }
  h1{
    text-transform: capitalize;
    font-style: ;
  }
</style>

    </head>
  <body>
    <h1 align="center" ><b>No Record Found!</b></h1>
    <h1 align="center"><b>User Details</b></h1>
  <div class="container">
    <table class="table table-hover">

      <thead>
        <tr>
          <td colspan="7">
            <form action="/" method="post">
            <input type="text" name="search" placeholder="Search...">
              <select name="role">
                <option value=""> Select Role</option>
              <option value="Admin">Admin</option>
              <option value="Senior">Senior</option>
              <option value="client">Client</option>
            </select>
            <input type="submit" value="Search" class="btn btn-info">
          </form>
            <a class="btn btn-success" id="ADD" title="add" href="/add" > + Add</a>
          </tr>
      <tr class="th">
        <th>ID</th><th>Image</th><th>UserName</th><th>Email</th><th>Role</th><th>CreatedAt</th>
        <th>Action </th>
      </tr>
      <thead>
        <tr>
          <td colspan="7" align="center">
          <a href="/" class="btn btn-danger">Cancel</a>
        </tr>
    </table>
    </div>
    </form>
  </body>
</html>
